$header-background-color: rgb(255, 255, 255);
$header-text-color: rgb(0, 0, 0);
$header-box-shadow-color: rgba(119, 116, 116, 0.1);


// Header Image and Margin styles
$header-image-margin-top: 50px;
$header-image-height: 400px;
$header-image-width: 1510px;
$text-color: rgb(0, 0, 0);
$margin-left-mailbox: 400px;

// Pagination and Flag Image styles
$font-size-pagination: medium;
$margin-top-pagination: -35px;
$margin-left-flag-image: 800px;

// Footer styles
$footer-logo-width: 100px;
$font-size-xxx-large: xxx-large;
$more-plus-color: $text-color-red;

// Column Container styles
$column-container-count: 2;
$column-container-gap: 20px;