$inputWidth: 100%;
$inputPadding: 10px;
$inputMarginBottom: 10px;
$inputMarginRight: 10px;
$inputBorderColor: #ccc;
$inputBorderRadius: 5px;

$inputEmailBgColor: #1e2e16;
$inputEmailTextColor: rgb(255, 255, 255);
$inputEmailPadding: 10px 20px;
$inputEmailCursor: pointer;

// Box and Form Container styles
$tile-first-color-margin-top: -0px;
$box-background-color: rgb(255, 255, 255);
$box-border-color: #94ebc0;
$box-text-margin-top: -3px;
$form-container-bg-color: rgb(203, 235, 233);
$subscribe-font-size: x-large;
$subscribe-font-weight: 800;