$menu-margin-left: 10px;
$menu-image-max-height: 40px;
$menu-image-max-width: 100%;
$menu-image-margin: 0 auto;
$menu-link-padding: 10px;
$menu-link-color: rgb(0, 0, 0);
$menu-right-image-height: 35px;
$center-align-items: center;
$link-text-color: rgb(0, 0, 0);