$tile-width: 150px;
$tile-height: 120px;
$tile-background-color: rgb(255, 255, 255);
$tile-margin: 5px;
$tile-border-color: rgba(155, 211, 187, 1);
$tile-box-shadow-color: rgba(52, 152, 219, 0.5);
$tile-border-radius: 10px;
$tile-transition-duration: 0.3s;
$tile-padding-left: 10px;
$tile-first-color-background: hsl(120, 25%, 65%);
$tile-text-font-size: smaller;
$tile-text-margin-top: 35%;
$tile-text-margin-left: 10%;
$tile-first-color-h1-margin-top: -0px;